In [2]:
#list
l1=[1,2,3,4]
print(type(l1))

<class 'list'>

In [3]:
#how to find lenght
print(len(l1))

4

In [4]:
#how to print specific values in a list
print(l1[3])

4

In [14]:
#how to change the values in a list
l1[2]="Kushagra"
print(l1)

[1, 2, 'Kushagra', 'Srivastav', 'Srivastav', 'Srivastav', 3, 'Kushagra']

In [15]:
print(l1)

[1, 2, 'Kushagra', 'Srivastav', 'Srivastav', 'Srivastav', 3, 'Kushagra']

In [16]:
print(len(l1))

8

In [38]:
#how to insert value
l1.insert(4,"Abhi")
print(l1)

[1, 2, 'Kushagra', 'Srivastav', 'Abhi', 'Abhi', 'Abhi', 'Abhi', 'Abhi', 'Abhi', 'Abhi', 'Abhi', 'Abhi', 'Abhi', 'Abhi', 'Abhi', 'Abhi', 'Abhi', 'Abhi', 'Abhi', 'Abhi', 'Abhi', 'Abhi', 'Abhi', 'Abhi', 'Srivastav', 'Srivastav', 3, 'Kushagra']

In [3]:
l2=["Kushagra","Srivastav","Abhi",13,69]
print(l2)

['Kushagra', 'Srivastav', 'Abhi', 13, 69]

In [4]:
#how to append data  in list
l2.append("myappend")
print(l2)

['Kushagra', 'Srivastav', 'Abhi', 13, 69, 'myappend']

In [7]:
#how to remove
l2.remove(69)
print(l2)

['Kushagra', 'Srivastav', 'Abhi', 13, 'myappend']

In [8]:
#how to remove the data just by index number
l2.pop(4)
print(l2)

['Kushagra', 'Srivastav', 'Abhi', 13]

In [9]:
#alternative method to remove the data is by using del fun
del l2[3]
print(l2)

['Kushagra', 'Srivastav', 'Abhi']

In [10]:
#how to sort the list
l3=[3,5,56,78,69]
l3.sort()
print(l3)

[3, 5, 56, 69, 78]

In [11]:
#how to reverse sort 
l3.sort(reverse=True)
print(l3)

[78, 69, 56, 5, 3]

In [12]:
#how to merge all the list 
#here we take a new variable(list) as merge
merge=l2+l3
print(merge)

['Kushagra', 'Srivastav', 'Abhi', 78, 69, 56, 5, 3]